body {
  background: gray;
  margin: 0;
  padding-left: 5%;
  font-family: Arial;
  color:black;
  width: 90%;
}

#header{
  background-color: green;
}

#login_form {
  width: 300px;
  background: white;
  border: 1px solid white;
  margin: 20px 0 0 20px;
  border-radius: 8px;
}

h1,h2 {
  margin-top: 0;
  font-size: 1.5em;
  font-family: Arial Black, Arial;
  text-align: center;
}

h4 {
  margin: 0 0;
  font-size: 20px;
}

#login_form{
  background-color: gray;
}

input[type=text], input[type=password] {
  display: block;
  margin: 0 0 1em 7px;
  width: 230px;
  border: 5px;
  border-radius: 6px;
  padding: 1em;
  box-shadow: 2px 2px grey;
}

#div_header{
  background-color: #e3e3e3;
}

#div_content{
  padding:20px 20px 20px 20px;
  background-color: white;
}

#div_footer{
  height: 100px;
  padding-top:20px;
  padding-left: 12%;
  background-color: #e3e3e3;
  border-radius: 0 0 5px 5px;
}

#div_footer p{
  padding-top: 30px;
}

#div_header img{
}

input[type=submit], form a {
  border: none;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 6px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 6px;
  background: white;
  color: black;
  box-shadow: 2px 2px gray;
}

#nombre_u{
  color: black;
}

#contenido{
  color: blue;
  width: 400px;
}

#fecha_p{
  width: 200px;
}

#fecha_r{
  width: 200px;
}

#evaluacion_p{
  width: 100px;
}

#evaluacion_r{
  width: 100px;
}

#t_data tr {
  width: 100px;
}

table{
  border-radius: 10px;
  align: center;
}

#t_data th{
  align: center;
  color: Blue;
}

k{
  color: blue;
}

td{
  align: center;
}

input[type=password]{
  align: center;
  width: 100px;
}

input[type=text]{
  color: black;
  width: 8em;
}

#tabla1{
  align: center;
  color: black;
  margin-left: 5%;
}

.error {
  color: #393939;
  font-size: 15px;
}

fieldset {
  width: 300px;
  margin: auto;
  margin-bottom: 2em;
}

.admin_panel {
  background-color: gray;
  border-radius: 5px;
}

#admin_1 {
  width: 50%;
}

#admin_2 {
  width: 75%;
  padding-bottom: 20px;
}

.admin_panel input {
  display: inline-block;
  margin: 10px 10px;
}

.admin_panel p {
  padding-left: 15px;
}

#admin_table {
  margin-left: 30px;
  width: 95%;
}

